<!--
    index/index.phtml
-->
<h1>
    <?php echo $this->translate('Index Page Title'); ?>

</h1>




<p>
    index/index.phtml s a
    </p>
<pre>




    ez
    egy

    pre

</pre>




<img alt="avatar" src="/skin/default/image/avatar.svg">
