/**
 * global.less
 */
body {
    font-face: Arial,sans-serif;
    font-size: 1em;
}

p {
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
}

pre {
    color: white;
    background: black;
    padding: 5px;
}