







<?php echo $this->doctype(); ?>
<html>
<head>
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headLink(); ?>

    <!--[if IE 6]>
    Special instructions for IE 6 here
    <![endif]-->

</head>
<body>

<?php echo $this->layout()->content ?>


<?php echo $this->headScript(); ?>
</body>
</html>











