<h1><?php echo $this->translate('An error occurred'); ?></h1>
<h2><?php echo $this->message; ?></h2>

<hr>

<h3><?php echo $this->translate('Exception information'); ?>:</h3>

<dl>
    <dt><b><?php echo $this->translate('File'); ?>:</b></dt>
    <dd><?php Zend_Debug::dump(PHP_EOL . $this->exception->getFile() . ' #' . $this->exception->getLine()); ?></dd>

    <dt><b><?php echo $this->translate('Message'); ?>:</b></dt>
    <dd><?php Zend_Debug::dump(PHP_EOL . $this->exception->getMessage()); ?></dd>

    <dt><b><?php echo $this->translate('Stack trace'); ?>:</b></dt>
    <dd><?php Zend_Debug::dump(PHP_EOL . $this->exception->getTraceAsString()); ?></dd>

    <dt><b><?php echo $this->translate('Request parameters'); ?>:</b></dt>
    <dd><?php Zend_Debug::dump($this->request->getParams()); ?></dd>
</dl>
